:root {
  --sys-display-large-fontsize: 57px;
  --sys-display-large-textdecoration: none;
  --sys-display-large-fontfamily: Inter;
  --sys-display-large-fontweight: 400;
  --sys-display-large-fontstyle: normal;
  --sys-display-large-fontstretch: normal;
  --sys-display-large-letterspacing: 0px;
  --sys-display-large-lineheight: 64px;
  --sys-display-large-paragraphindent: 0px;
  --sys-display-large-paragraphspacing: 0px;
  --sys-display-large-textcase: none;
  --sys-display-medium-fontsize: 45px;
  --sys-display-medium-textdecoration: none;
  --sys-display-medium-fontfamily: Inter;
  --sys-display-medium-fontweight: 400;
  --sys-display-medium-fontstyle: normal;
  --sys-display-medium-fontstretch: normal;
  --sys-display-medium-letterspacing: 0px;
  --sys-display-medium-lineheight: 52px;
  --sys-display-medium-paragraphindent: 0px;
  --sys-display-medium-paragraphspacing: 0px;
  --sys-display-medium-textcase: none;
  --sys-display-small-fontsize: 36px;
  --sys-display-small-textdecoration: none;
  --sys-display-small-fontfamily: Inter;
  --sys-display-small-fontweight: 400;
  --sys-display-small-fontstyle: normal;
  --sys-display-small-fontstretch: normal;
  --sys-display-small-letterspacing: 0px;
  --sys-display-small-lineheight: 44px;
  --sys-display-small-paragraphindent: 0px;
  --sys-display-small-paragraphspacing: 0px;
  --sys-display-small-textcase: none;
  --sys-headline-large-fontsize: 32px;
  --sys-headline-large-textdecoration: none;
  --sys-headline-large-fontfamily: Inter;
  --sys-headline-large-fontweight: 400;
  --sys-headline-large-fontstyle: normal;
  --sys-headline-large-fontstretch: normal;
  --sys-headline-large-letterspacing: 0px;
  --sys-headline-large-lineheight: 40px;
  --sys-headline-large-paragraphindent: 0px;
  --sys-headline-large-paragraphspacing: 0px;
  --sys-headline-large-textcase: none;
  --sys-headline-medium-fontsize: 28px;
  --sys-headline-medium-textdecoration: none;
  --sys-headline-medium-fontfamily: Inter;
  --sys-headline-medium-fontweight: 400;
  --sys-headline-medium-fontstyle: normal;
  --sys-headline-medium-fontstretch: normal;
  --sys-headline-medium-letterspacing: 0px;
  --sys-headline-medium-lineheight: 36px;
  --sys-headline-medium-paragraphindent: 0px;
  --sys-headline-medium-paragraphspacing: 0px;
  --sys-headline-medium-textcase: none;
  --sys-headline-small-fontsize: 24px;
  --sys-headline-small-textdecoration: none;
  --sys-headline-small-fontfamily: Inter;
  --sys-headline-small-fontweight: 400;
  --sys-headline-small-fontstyle: normal;
  --sys-headline-small-fontstretch: normal;
  --sys-headline-small-letterspacing: 0px;
  --sys-headline-small-lineheight: 32px;
  --sys-headline-small-paragraphindent: 0px;
  --sys-headline-small-paragraphspacing: 0px;
  --sys-headline-small-textcase: none;
  --sys-title-large-fontsize: 22px;
  --sys-title-large-textdecoration: none;
  --sys-title-large-fontfamily: Inter;
  --sys-title-large-fontweight: 400;
  --sys-title-large-fontstyle: normal;
  --sys-title-large-fontstretch: normal;
  --sys-title-large-letterspacing: 0px;
  --sys-title-large-lineheight: 28px;
  --sys-title-large-paragraphindent: 0px;
  --sys-title-large-paragraphspacing: 0px;
  --sys-title-large-textcase: none;
  --sys-title-medium-fontsize: 16px;
  --sys-title-medium-textdecoration: none;
  --sys-title-medium-fontfamily: Inter;
  --sys-title-medium-fontweight: 400;
  --sys-title-medium-fontstyle: normal;
  --sys-title-medium-fontstretch: normal;
  --sys-title-medium-letterspacing: 0px;
  --sys-title-medium-lineheight: 24px;
  --sys-title-medium-paragraphindent: 0px;
  --sys-title-medium-paragraphspacing: 0px;
  --sys-title-medium-textcase: none;
  --sys-title-small-fontsize: 14px;
  --sys-title-small-textdecoration: none;
  --sys-title-small-fontfamily: Inter;
  --sys-title-small-fontweight: 400;
  --sys-title-small-fontstyle: normal;
  --sys-title-small-fontstretch: normal;
  --sys-title-small-letterspacing: 0px;
  --sys-title-small-lineheight: 20px;
  --sys-title-small-paragraphindent: 0px;
  --sys-title-small-paragraphspacing: 0px;
  --sys-title-small-textcase: none;
  --sys-body-large-fontsize: 16px;
  --sys-body-large-textdecoration: none;
  --sys-body-large-fontfamily: Inter;
  --sys-body-large-fontweight: 400;
  --sys-body-large-fontstyle: normal;
  --sys-body-large-fontstretch: normal;
  --sys-body-large-letterspacing: 0px;
  --sys-body-large-lineheight: 24px;
  --sys-body-large-paragraphindent: 0px;
  --sys-body-large-paragraphspacing: 0px;
  --sys-body-large-textcase: none;
  --sys-body-medium-fontsize: 14px;
  --sys-body-medium-textdecoration: none;
  --sys-body-medium-fontfamily: Inter;
  --sys-body-medium-fontweight: 400;
  --sys-body-medium-fontstyle: normal;
  --sys-body-medium-fontstretch: normal;
  --sys-body-medium-letterspacing: 0px;
  --sys-body-medium-lineheight: 20px;
  --sys-body-medium-paragraphindent: 0px;
  --sys-body-medium-paragraphspacing: 0px;
  --sys-body-medium-textcase: none;
  --sys-body-small-fontsize: 12px;
  --sys-body-small-textdecoration: none;
  --sys-body-small-fontfamily: Inter;
  --sys-body-small-fontweight: 400;
  --sys-body-small-fontstyle: normal;
  --sys-body-small-fontstretch: normal;
  --sys-body-small-letterspacing: 0.012px;
  --sys-body-small-lineheight: 16px;
  --sys-body-small-paragraphindent: 0px;
  --sys-body-small-paragraphspacing: 0px;
  --sys-body-small-textcase: none;
  --sys-label-large-fontsize: 14px;
  --sys-label-large-textdecoration: none;
  --sys-label-large-fontfamily: Inter;
  --sys-label-large-fontweight: 500;
  --sys-label-large-fontstyle: normal;
  --sys-label-large-fontstretch: normal;
  --sys-label-large-letterspacing: 0.014px;
  --sys-label-large-lineheight: 20px;
  --sys-label-large-paragraphindent: 0px;
  --sys-label-large-paragraphspacing: 0px;
  --sys-label-large-textcase: none;
  --sys-label-medium-fontsize: 12px;
  --sys-label-medium-textdecoration: none;
  --sys-label-medium-fontfamily: Inter;
  --sys-label-medium-fontweight: 500;
  --sys-label-medium-fontstyle: normal;
  --sys-label-medium-fontstretch: normal;
  --sys-label-medium-letterspacing: 0.012px;
  --sys-label-medium-lineheight: 16px;
  --sys-label-medium-paragraphindent: 0px;
  --sys-label-medium-paragraphspacing: 0px;
  --sys-label-medium-textcase: none;
  --sys-label-small-fontsize: 11px;
  --sys-label-small-textdecoration: none;
  --sys-label-small-fontfamily: Inter;
  --sys-label-small-fontweight: 500;
  --sys-label-small-fontstyle: normal;
  --sys-label-small-fontstretch: normal;
  --sys-label-small-letterspacing: 0.011px;
  --sys-label-small-lineheight: 16px;
  --sys-label-small-paragraphindent: 0px;
  --sys-label-small-paragraphspacing: 0px;
  --sys-label-small-textcase: none;
  --key-color-primary: #0f6d58ff;
  --key-color-accent: #c7a348ff;
  --key-color-secondary: #d9824bff;
  --key-color-tertiary: #7a8f63ff;
  --key-color-neutral: #f7f5f0ff;
  --key-color-neutral-variant: #a8b0b5ff;
  --key-color-error: #c65a5aff;
  --key-color-warning: #d9a441ff;
  --key-color-sucess: #2e8b57ff;
  --color-pallete-primary-primary-0: #000000ff;
  --color-pallete-primary-primary-10: #062d24ff;
  --color-pallete-primary-primary-20: #0c5a48ff;
  --color-pallete-primary-primary-30: #13866dff;
  --color-pallete-primary-primary-40: #19b391ff;
  --color-pallete-primary-primary-50: #1fe0b5ff;
  --color-pallete-primary-primary-60: #4ce6c4ff;
  --color-pallete-primary-primary-70: #79ecd3ff;
  --color-pallete-primary-primary-80: #a5f3e1ff;
  --color-pallete-primary-primary-90: #d2f9f0ff;
  --color-pallete-primary-primary-95: #d2f9f0ff;
  --color-pallete-primary-primary-98: #f6fefcff;
  --color-pallete-primary-primary-99: #fbfefeff;
  --color-pallete-primary-primary-100: #ffffffff;
  --color-pallete-secondary-secondary: #000000ff;
  --color-pallete-secondary-secondary-10: #2a1609ff;
  --color-pallete-secondary-secondary-20: #542c12ff;
  --color-pallete-secondary-secondary-30: #7e411bff;
  --color-pallete-secondary-secondary-40: #a85724ff;
  --color-pallete-secondary-secondary-50: #d36d2cff;
  --color-pallete-secondary-secondaru-60: #db8a57ff;
  --color-pallete-secondary-secondary-70: #e4a781ff;
  --color-pallete-secondary-secondary-80: #edc5abff;
  --color-pallete-secondary-secondary-90: #f6e2d5ff;
  --color-pallete-secondary-secondary-95: #fbf0eaff;
  --color-pallete-secondary-secondary-98: #fdf9f7ff;
  --color-pallete-secondary-secondary-99: #fefcfbff;
  --color-pallete-secondary-secondary-100: #ffffffff;
  --color-pallete-tertiary-tertiary-0: #000000ff;
  --color-pallete-tertiary-tertiary-10: #1a1e15ff;
  --color-pallete-tertiary-tertiary-20: #333c2aff;
  --color-pallete-tertiary-tertiary-30: #4d5a3fff;
  --color-pallete-tertiary-tertiary-40: #677953ff;
  --color-pallete-tertiary-tertiary-50: #819768ff;
  --color-pallete-tertiary-tertiary-60: #9aac86ff;
  --color-pallete-tertiary-tertiary-70: #b3c0a5ff;
  --color-pallete-tertiary-tertiary-80: #ccd5c3ff;
  --color-pallete-tertiary-tertiary-90: #e6eae1ff;
  --color-pallete-tertiary-tertiary-95: #f2f5f0ff;
  --color-pallete-tertiary-tertiary-98: #fafbf9ff;
  --color-pallete-tertiary-tertiary-99: #fcfdfcff;
  --color-pallete-tertiary-tertiary-100: #ffffffff;
  --color-pallete-neutral-neutral-0: #000000ff;
  --color-pallete-neutral-neutral-10: #211d12ff;
  --color-pallete-neutral-neutral-20: #433a23ff;
  --color-pallete-neutral-neutral-30: #645635ff;
  --color-pallete-neutral-neutral-40: #857347ff;
  --color-pallete-neutral-neutral-50: #a69059ff;
  --color-pallete-neutral-neutral-60: #b8a67aff;
  --color-pallete-neutral-neutral-70: #cabc9bff;
  --color-pallete-neutral-neutral-80: #dcd3bcff;
  --color-pallete-neutral-neutral-90: #ede9deff;
  --color-pallete-neutral-neutral-95: #f7f5f0ff;
  --color-pallete-neutral-neutral-98: #fbfbf8ff;
  --color-pallete-neutral-neutral-99: #fdfdfcff;
  --color-pallete-neutral-neutral-100: #ffffffff;
  --color-pallete-neutral-neutral-92: #f1ede4ff;
  --color-pallete-neutral-neutral-94: #f4f2ebff;
  --color-pallete-neutral-neutral-96: #f8f6f2ff;
  --color-pallete-neutral-neutral-87: #e8e2d4ff;
  --color-pallete-neutral-variant-neutral-variant-0: #000000ff;
  --color-pallete-neutral-variant-neutral-variant-10: #171a1cff;
  --color-pallete-neutral-variant-neutral-variant-20: #2f3437ff;
  --color-pallete-neutral-variant-neutral-variant-30: #464e53ff;
  --color-pallete-neutral-variant-neutral-variant-40: #5e686eff;
  --color-pallete-neutral-variant-neutral-variant-50: #75828aff;
  --color-pallete-neutral-variant-neutral-variant-60: #919ba1ff;
  --color-pallete-neutral-variant-neutral-variant-70: #acb4b9ff;
  --color-pallete-neutral-variant-neutral-variant-80: #c8cdd0ff;
  --color-pallete-neutral-variant-neutral-variant-90: #e3e6e8ff;
  --color-pallete-neutral-variant-neutral-variant-95: #f1f2f3ff;
  --color-pallete-neutral-variant-neutral-variant-98: #f9fafaff;
  --color-pallete-neutral-variant-neutral-variant-99: #fcfcfdff;
  --color-pallete-neutral-variant-neutral-variant-100: #ffffffff;
  --color-pallete-error-error-0: #000000ff;
  --color-pallete-error-error-10: #260d0dff;
  --color-pallete-error-error-20: #4c1a1aff;
  --color-pallete-error-error-30: #722727ff;
  --color-pallete-error-error-40: #983434ff;
  --color-pallete-error-error-50: #be4141ff;
  --color-pallete-error-error-60: #cb6767ff;
  --color-pallete-error-error-70: #d88d8dff;
  --color-pallete-error-error-80: #e5b3b3ff;
  --color-pallete-error-error-90: #f2d9d9ff;
  --color-pallete-error-error-95: #f8ececff;
  --color-pallete-error-error-98: #fcf7f7ff;
  --color-pallete-error-error-99: #fefbfbff;
  --color-pallete-error-error-100: #ffffffff;
  --color-pallete-warning-warning-0: #000000ff;
  --color-pallete-warning-warning-10: #321f01ff;
  --color-pallete-warning-warning-20: #633e03ff;
  --color-pallete-warning-warning-30: #955e04ff;
  --color-pallete-warning-warning-40: #c77d05ff;
  --color-pallete-warning-warning-50: #f89c07ff;
  --color-pallete-warning-warning-60: #fab038ff;
  --color-pallete-warning-warning-70: #fbc46aff;
  --color-pallete-warning-warning-80: #eed6aaff;
  --color-pallete-warning-warning-90: #f6ebd4ff;
  --color-pallete-warning-warning-95: #fbf5eaff;
  --color-pallete-warning-warning-98: #fdfbf6ff;
  --color-pallete-warning-warning-99: #fefdfbff;
  --color-pallete-warning-warning-100: #ffffffff;
  --color-pallete-sucess-sucess-0: #000000ff;
  --color-pallete-sucess-sucess-10: #0d2618ff;
  --color-pallete-sucess-sucess-20: #194d30ff;
  --color-pallete-sucess-sucess-30: #267348ff;
  --color-pallete-sucess-sucess-40: #339960ff;
  --color-pallete-sucess-sucess-50: #3fc078ff;
  --color-pallete-sucess-sucess-60: #66cc93ff;
  --color-pallete-sucess-sucess-70: #8cd9aeff;
  --color-pallete-sucess-sucess-80: #b2e6c9ff;
  --color-pallete-sucess-sucess-90: #d9f2e4ff;
  --color-pallete-sucess-sucess-95: #ecf9f1ff;
  --color-pallete-sucess-sucess-98: #f7fcfaff;
  --color-pallete-sucess-sucess-99: #fbfefcff;
  --color-pallete-sucess-sucess-100: #ffffffff;
  --color-pallete-accent-accent-0: #000000ff;
  --color-pallete-accent-accent-10: #271f0cff;
  --color-pallete-accent-accent-20: #4e3f18ff;
  --color-pallete-accent-accent-30: #755e24ff;
  --color-pallete-accent-accent-40: #9c7d30ff;
  --color-pallete-accent-accent-50: #c39d3cff;
  --color-pallete-accent-accent-60: #cfb063ff;
  --color-pallete-accent-accent-70: #dbc48aff;
  --color-pallete-accent-accent-80: #e7d8b1ff;
  --color-pallete-accent-accent-90: #f3ebd8ff;
  --color-pallete-accent-accent-95: #f9f5ebff;
  --color-pallete-accent-accent-98: #fdfbf7ff;
  --color-pallete-accent-accent-99: #fefdfbff;
  --color-pallete-accent-accent-100: #ffffffff;
  --sys-primary-color-roles-primary: var(--color-pallete-primary-primary-40);
  --sys-primary-color-roles-on-primary: var(--color-pallete-primary-primary-100);
  --sys-primary-color-roles-primary-container: var(--color-pallete-primary-primary-90);
  --sys-primary-color-roles-on-primary-container: var(--color-pallete-primary-primary-30);
  --sys-secondary-color-roles-secondary: var(--color-pallete-secondary-secondary-40);
  --sys-secondary-color-roles-on-seconday: var(--color-pallete-secondary-secondary-100);
  --sys-secondary-color-roles-secondary-container: var(--color-pallete-secondary-secondary-90);
  --sys-secondary-color-roles-on-secondary-container: var(--color-pallete-secondary-secondary-30);
  --sys-tertiary-color-roles-tertiary: var(--color-pallete-tertiary-tertiary-40);
  --sys-tertiary-color-roles-on-tertiary: var(--color-pallete-tertiary-tertiary-100);
  --sys-tertiary-color-roles-tertiary-container: var(--color-pallete-tertiary-tertiary-90);
  --sys-tertiary-color-roles-on-tertiary-container: var(--color-pallete-tertiary-tertiary-30);
  --sys-error-color-roles-error: var(--color-pallete-error-error-40);
  --sys-error-color-roles-on-error: var(--color-pallete-error-error-100);
  --sys-error-color-roles-error-container: var(--color-pallete-error-error-90);
  --sys-error-color-roles-on-error-container: var(--color-pallete-error-error-30);
  --sys-surface-color-roles-surface: var(--color-pallete-neutral-neutral-98);
  --sys-surface-color-roles-on-surface: var(--color-pallete-neutral-neutral-10);
  --sys-surface-color-roles-surface-variant: var(--color-pallete-neutral-variant-neutral-variant-90);
  --sys-surface-color-roles-on-surface-variant: var(--color-pallete-neutral-variant-neutral-variant-30);
  --sys-surface-color-roles-surface-container-highest: var(--color-pallete-neutral-neutral-90);
  --sys-surface-color-roles-surface-container-high: var(--color-pallete-neutral-neutral-92);
  --sys-surface-color-roles-surface-container: var(--color-pallete-neutral-neutral-94);
  --sys-surface-color-roles-surface-container-low: var(--color-pallete-neutral-neutral-96);
  --sys-surface-color-roles-surface-container-lowest: var(--color-pallete-neutral-neutral-100);
  --sys-surface-color-roles-inverse-surface: var(--color-pallete-neutral-neutral-20);
  --sys-surface-color-roles-inverse-on-surface: var(--color-pallete-neutral-neutral-95);
  --sys-surface-color-roles-surface-tint: var(--color-pallete-primary-primary-40);
  --sys-surface-color-roles-surface-tint-color: var(--color-pallete-primary-primary-40);
  --sys-add-ons-add-on-primary-colors-primary-fixed: var(--color-pallete-primary-primary-90);
  --sys-add-ons-add-on-primary-colors-on-primary-fixed: var(--color-pallete-primary-primary-10);
  --sys-add-ons-add-on-primary-colors-primary-fixed-dim: var(--color-pallete-primary-primary-80);
  --sys-add-ons-add-on-primary-colors-on-primary-fixed-variant: var(--color-pallete-primary-primary-30);
  --sys-add-ons-add-on-primary-colors-inverse-primary: var(--color-pallete-primary-primary-80);
  --sys-add-ons-add-on-secondary-colors-secondary-fixed: var(--color-pallete-secondary-secondary-90);
  --sys-add-ons-add-on-secondary-colors-on-secondary-fixed: var(--color-pallete-secondary-secondary-10);
  --sys-add-ons-add-on-secondary-colors-secondary-fixed-dim: var(--color-pallete-secondary-secondary-80);
  --sys-add-ons-add-on-secondary-colors-on-secondary-fixed-variant: var(--color-pallete-secondary-secondary-30);
  --sys-add-ons-add-on-tertiary-colors-tertiary-fixed: var(--color-pallete-tertiary-tertiary-90);
  --sys-add-ons-add-on-tertiary-colors-on-tertiary-fixed: var(--color-pallete-tertiary-tertiary-10);
  --sys-add-ons-add-on-tertiary-colors-tertiary-fixed-dim: var(--color-pallete-tertiary-tertiary-80);
  --sys-add-ons-add-on-tertiary-colors-on-tertiary-fixed-variant: var(--color-pallete-tertiary-tertiary-30);
  --sys-add-ons-add-on-surface-colors-background: var(--color-pallete-neutral-neutral-98);
  --sys-add-ons-add-on-surface-colors-on-background: var(--color-pallete-neutral-neutral-10);
  --sys-add-ons-add-on-surface-colors-surface-bright: var(--color-pallete-neutral-neutral-98);
  --sys-add-ons-add-on-surface-colors-surface-dim: var(--color-pallete-neutral-neutral-87);
  --sys-add-ons-add-on-surface-colors-scrim: var(--color-pallete-neutral-neutral-0);
  --sys-add-ons-add-on-surface-colors-shadow: var(--color-pallete-neutral-neutral-0);
  --sys-outline-color-role-outline: var(--color-pallete-neutral-variant-neutral-variant-50);
  --sys-outline-color-role-outline-variant: var(--color-pallete-neutral-variant-neutral-variant-80);
  --sys-succss-color-role-success: var(--color-pallete-sucess-sucess-40);
  --sys-succss-color-role-on-success: var(--color-pallete-sucess-sucess-100);
  --sys-succss-color-role-success-container: var(--color-pallete-sucess-sucess-90);
  --sys-succss-color-role-on-success-container: var(--color-pallete-sucess-sucess-30);
  --sys-warning: var(--color-pallete-warning-warning-40);
  --sys-on-warning: var(--color-pallete-warning-warning-100);
  --sys-warning-container: var(--color-pallete-warning-warning-90);
  --sys-on-warning-container: var(--color-pallete-warning-warning-30);
  --sys-display-large-fontsize: 57px;
  --sys-display-large-textdecoration: none;
  --sys-display-large-fontfamily: Inter;
  --sys-display-large-fontweight: 400;
  --sys-display-large-fontstyle: normal;
  --sys-display-large-fontstretch: normal;
  --sys-display-large-letterspacing: 0px;
  --sys-display-large-lineheight: 64px;
  --sys-display-large-paragraphindent: 0px;
  --sys-display-large-paragraphspacing: 0px;
  --sys-display-large-textcase: none;
  --sys-display-medium-fontsize: 45px;
  --sys-display-medium-textdecoration: none;
  --sys-display-medium-fontfamily: Inter;
  --sys-display-medium-fontweight: 400;
  --sys-display-medium-fontstyle: normal;
  --sys-display-medium-fontstretch: normal;
  --sys-display-medium-letterspacing: 0px;
  --sys-display-medium-lineheight: 52px;
  --sys-display-medium-paragraphindent: 0px;
  --sys-display-medium-paragraphspacing: 0px;
  --sys-display-medium-textcase: none;
  --sys-display-small-fontsize: 36px;
  --sys-display-small-textdecoration: none;
  --sys-display-small-fontfamily: Inter;
  --sys-display-small-fontweight: 400;
  --sys-display-small-fontstyle: normal;
  --sys-display-small-fontstretch: normal;
  --sys-display-small-letterspacing: 0px;
  --sys-display-small-lineheight: 44px;
  --sys-display-small-paragraphindent: 0px;
  --sys-display-small-paragraphspacing: 0px;
  --sys-display-small-textcase: none;
  --sys-headline-large-fontsize: 32px;
  --sys-headline-large-textdecoration: none;
  --sys-headline-large-fontfamily: Inter;
  --sys-headline-large-fontweight: 400;
  --sys-headline-large-fontstyle: normal;
  --sys-headline-large-fontstretch: normal;
  --sys-headline-large-letterspacing: 0px;
  --sys-headline-large-lineheight: 40px;
  --sys-headline-large-paragraphindent: 0px;
  --sys-headline-large-paragraphspacing: 0px;
  --sys-headline-large-textcase: none;
  --sys-headline-medium-fontsize: 28px;
  --sys-headline-medium-textdecoration: none;
  --sys-headline-medium-fontfamily: Inter;
  --sys-headline-medium-fontweight: 400;
  --sys-headline-medium-fontstyle: normal;
  --sys-headline-medium-fontstretch: normal;
  --sys-headline-medium-letterspacing: 0px;
  --sys-headline-medium-lineheight: 36px;
  --sys-headline-medium-paragraphindent: 0px;
  --sys-headline-medium-paragraphspacing: 0px;
  --sys-headline-medium-textcase: none;
  --sys-headline-small-fontsize: 24px;
  --sys-headline-small-textdecoration: none;
  --sys-headline-small-fontfamily: Inter;
  --sys-headline-small-fontweight: 400;
  --sys-headline-small-fontstyle: normal;
  --sys-headline-small-fontstretch: normal;
  --sys-headline-small-letterspacing: 0px;
  --sys-headline-small-lineheight: 32px;
  --sys-headline-small-paragraphindent: 0px;
  --sys-headline-small-paragraphspacing: 0px;
  --sys-headline-small-textcase: none;
  --sys-title-large-fontsize: 22px;
  --sys-title-large-textdecoration: none;
  --sys-title-large-fontfamily: Inter;
  --sys-title-large-fontweight: 400;
  --sys-title-large-fontstyle: normal;
  --sys-title-large-fontstretch: normal;
  --sys-title-large-letterspacing: 0px;
  --sys-title-large-lineheight: 28px;
  --sys-title-large-paragraphindent: 0px;
  --sys-title-large-paragraphspacing: 0px;
  --sys-title-large-textcase: none;
  --sys-title-medium-fontsize: 16px;
  --sys-title-medium-textdecoration: none;
  --sys-title-medium-fontfamily: Inter;
  --sys-title-medium-fontweight: 400;
  --sys-title-medium-fontstyle: normal;
  --sys-title-medium-fontstretch: normal;
  --sys-title-medium-letterspacing: 0px;
  --sys-title-medium-lineheight: 24px;
  --sys-title-medium-paragraphindent: 0px;
  --sys-title-medium-paragraphspacing: 0px;
  --sys-title-medium-textcase: none;
  --sys-title-small-fontsize: 14px;
  --sys-title-small-textdecoration: none;
  --sys-title-small-fontfamily: Inter;
  --sys-title-small-fontweight: 400;
  --sys-title-small-fontstyle: normal;
  --sys-title-small-fontstretch: normal;
  --sys-title-small-letterspacing: 0px;
  --sys-title-small-lineheight: 20px;
  --sys-title-small-paragraphindent: 0px;
  --sys-title-small-paragraphspacing: 0px;
  --sys-title-small-textcase: none;
  --sys-body-large-fontsize: 16px;
  --sys-body-large-textdecoration: none;
  --sys-body-large-fontfamily: Inter;
  --sys-body-large-fontweight: 400;
  --sys-body-large-fontstyle: normal;
  --sys-body-large-fontstretch: normal;
  --sys-body-large-letterspacing: 0px;
  --sys-body-large-lineheight: 24px;
  --sys-body-large-paragraphindent: 0px;
  --sys-body-large-paragraphspacing: 0px;
  --sys-body-large-textcase: none;
  --sys-body-medium-fontsize: 14px;
  --sys-body-medium-textdecoration: none;
  --sys-body-medium-fontfamily: Inter;
  --sys-body-medium-fontweight: 400;
  --sys-body-medium-fontstyle: normal;
  --sys-body-medium-fontstretch: normal;
  --sys-body-medium-letterspacing: 0px;
  --sys-body-medium-lineheight: 20px;
  --sys-body-medium-paragraphindent: 0px;
  --sys-body-medium-paragraphspacing: 0px;
  --sys-body-medium-textcase: none;
  --sys-body-small-fontsize: 12px;
  --sys-body-small-textdecoration: none;
  --sys-body-small-fontfamily: Inter;
  --sys-body-small-fontweight: 400;
  --sys-body-small-fontstyle: normal;
  --sys-body-small-fontstretch: normal;
  --sys-body-small-letterspacing: 0.012px;
  --sys-body-small-lineheight: 16px;
  --sys-body-small-paragraphindent: 0px;
  --sys-body-small-paragraphspacing: 0px;
  --sys-body-small-textcase: none;
  --sys-label-large-fontsize: 14px;
  --sys-label-large-textdecoration: none;
  --sys-label-large-fontfamily: Inter;
  --sys-label-large-fontweight: 500;
  --sys-label-large-fontstyle: normal;
  --sys-label-large-fontstretch: normal;
  --sys-label-large-letterspacing: 0.014px;
  --sys-label-large-lineheight: 20px;
  --sys-label-large-paragraphindent: 0px;
  --sys-label-large-paragraphspacing: 0px;
  --sys-label-large-textcase: none;
  --sys-label-medium-fontsize: 12px;
  --sys-label-medium-textdecoration: none;
  --sys-label-medium-fontfamily: Inter;
  --sys-label-medium-fontweight: 500;
  --sys-label-medium-fontstyle: normal;
  --sys-label-medium-fontstretch: normal;
  --sys-label-medium-letterspacing: 0.012px;
  --sys-label-medium-lineheight: 16px;
  --sys-label-medium-paragraphindent: 0px;
  --sys-label-medium-paragraphspacing: 0px;
  --sys-label-medium-textcase: none;
  --sys-label-small-fontsize: 11px;
  --sys-label-small-textdecoration: none;
  --sys-label-small-fontfamily: Inter;
  --sys-label-small-fontweight: 500;
  --sys-label-small-fontstyle: normal;
  --sys-label-small-fontstretch: normal;
  --sys-label-small-letterspacing: 0.011px;
  --sys-label-small-lineheight: 16px;
  --sys-label-small-paragraphindent: 0px;
  --sys-label-small-paragraphspacing: 0px;
  --sys-label-small-textcase: none;
}
